.btn {
  border: none;
  outline: none;
  font-size: 14px;
  background: $orange;
  color: #fff;
  border-radius: 4px;
  padding: 10px 14px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-weight: 300;
  font-family: 'Ubuntu';

  &:hover {
    background: darken($orange, 10%);
    color: #fff;
  }

  &.btn-primary {
    background: $light-blue;

    &:hover {
      background: darken($light-blue, 10%);
    }
  }
}
