.film-grid {
  overflow: hidden;

  .film-item {
    height: 300px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    margin-bottom: 25px;
  }

  .film-item:hover .film-meta {
    display: none;
  }

  .film-item:hover .film-meta-full {
    display: block;
    transition: .5s;
  }

  .film-image {
    img {
      max-width: 100%;
    }
  }

  .film-meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px;
    transition: .5s;
  }

  .film-meta-full {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
  }

  .film-name {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .film-category {
    font-size: 14px;
    font-weight: 300;
  }

  .film-description {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 300;
  }

  .film-button {
    position: absolute;
    bottom: 25px;
    text-align: center;
  }

}

.load-more {
  text-align: center;
  margin-top: 25px;

  .btn {
    font-size: 22px;
    padding: 15px 20px;
  }
}

.film-list {
  .film-item {
    overflow: hidden;
    background: #f1f1f1;
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid $gray;
  }

  .film-image {
    width: 200px;
    float: left;
    margin-right: 25px;

    img {
      max-width: 100%;
    }
  }

  .film-data {
    margin-bottom: 25px;
  }

  .film-name {
    font-size: 20px;
    font-weight: bold;
  }

  .film-meta {
    font-size: 17px;
    color: #333;
  }

  .film-description {
    margin: 10px 0;
    font-size: 15px;
  }

  .film-sessions {
    width: calc(100% - 225px);

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 15px;
      margin-right: 15px;
      display: inline-block;
    }

    .session {
      background: #fff;
      color: #333;
      border: 1px solid $gray;
      text-decoration: none;
      padding: 10px 15px;
      font-size: 17px;

      &:hover {
        background: darken(#fff, 10%);
      }
    }
  }
}
