.film-page {
  background: #f1f1f1;
  border: 1px solid $gray;
  padding: 25px;
  margin: 0 auto;

  .film-header {
    overflow: hidden;
  }

  .film-pic {
    float: left;
    margin-right: 50px;
    width: 250px;

    img {
      max-width: 100%;
    }
  }

  .film-meta {
    float: left;
    width: calc(100% - 300px);

    h1 {
      margin-bottom: 30px;
    }
  }

  .film-meta-left {
    width: 180px;
    display: inline-block;
    margin-right: 5px;
  }

  .film-meta-item {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .film-buy {
    margin-bottom: 15px;

    .btn {
      padding: 15px 20px;
      font-size: 22px;
    }
  }
}

.film-reviews {
  margin-top: 25px;

  .film-review-btn {
    margin: 15px 0;
  }

  .review {
    padding: 25px;
    background: #fff;
    border: 1px solid $gray;
    margin-bottom: 25px;
  }

  .review-header {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray;

  }

  .review-user {
    font-weight: bold;
    font-size: 17px;
    margin-right: 25px;
  }

  .review-date {
    font-size: 14px;
    color: #333;
  }

  .review-text {
    font-size: 16px;
  }
}
