.film-order {

}

.order-dates {
  margin: 15px 0;

  span {
    font-weight: bold;
    font-size: 17px;
  }

  a {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 17px;
    border: 1px solid $gray;
    text-decoration: none;
    display: inline-block;

    &:hover, &.active {
      background: lighten($gray, 10%);
    }
  }
}

.order-places {
  .screen {
    width: 750px;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    background: #fff;
    border: 1px solid $gray;
  }

  .row {
    margin-bottom: 10px;
    text-align: center;
  }

  .row-number {
    margin-left: -62px;
    margin-right: 25px;
  }

  .place-btn {
    margin-right: 7px;
    background: #fff;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    border: 1px solid $gray;
    text-decoration: none;
    display: inline-block;


    &:hover, &.active {
      background: lighten($gray, 10%);
    }
  }
}

.order-summary {
  text-align: center;
  margin: 25px 0;
}
