.main-footer {
  margin-top: 25px;
  padding: 25px 50px 25px;
  border-top: 1px solid $gray;
  background: #f1f1f1;

  .footer-nav {
    ul {
      margin-bottom: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      margin-right: 15px;
    }

    a {
      color: #333;
    }
  }
}
